[2018-04-23 17:59] EduFdez opened #2 "GUI App for Automatic Extrinsic Calibration of Range and Visual Sensors (Karnik Ram R)"
# **Initial description**
Range and visual sensors are being increasingly used alongside one another in mobile robots. With their increasing use, calibration techniques that can accurately estimate the 6-DoF transformation between them are becoming increasingly important. In this regard, an end-to-end application with an easy-to-use graphical user interface for the extrinsic calibration of differe

[2018-04-23 18:04] EduFdez commented on #2
Student: @karnikram
Main mentor: @EduFdez
Backup mentors: @jlblancoc , @jolting

[2018-04-23 19:04] bergercookie opened #3 "Port Existing MRPT algorithms for V-REP simulator (shubham-kumar1410)"
## Initial Description

V-REP provides a good platform for combining external libraries that are often used in robotic simulations. The aim of the project is to use this flexibility of the simulator and port existing MRPT algorithms for V-REP simulator so that they can be used in the V-REP simulator. The libraries will be extended to V-REP with the help of V-REP Remote Api which is part of the V-R

[2018-04-23 19:07] bergercookie opened #4 "Add GTSAM as an external dependency to MRPT (Tushar Kusnur)"
## Initial Description

The problem of Simultaneous Localization and Mapping (SLAM) has been around for many years and numerous front-end and back-end methods have been developed to solve it. SLAM is the computational problem of building a consistent map of an agent’s unknown environment while simultaneously keeping track of its location at all times within the environment. Currently, MRPT has onl

[2018-04-23 22:41] jolting opened #6 "Web Frameworks Library for MRPT (Rachit Tibrewal)"
## Initial Description

Robots are slowly becoming a part of the internet of things, and easy control and universal access will be a step in future of robotics. MRPT’s Web Framework Library should address this problem.A lightweight publisher/subscriber mechanism needs to be created for MRPT. The C++ server library and the javascript library will then leverage this to create further applications. T

[2018-04-24 07:54] karnikram commented on #2
Hi @EduFdez, @jlblancoc, and @jolting!
Thank you so much for this opportunity, I'm really looking forward to this project and working with you guys.

During this bonding period I want to work on the GUI skeleton and get it ready. I'll also be spending time to get more familiar with the mrpt libraries and the coding style guides. Is there anything else that you guys want me to get started on? I als

[2018-04-24 19:20] rachittibrewal commented on #6
Hello @jolting, @jlblancoc Thanks for giving me this opportunity. I am very excited about the project and working with mrpt community. I would like to contribute to some issues and read codebase till May 5, as my exams will continue till that date, after that I will start working towards the first phase.

[2018-04-24 20:10] jolting commented on #6
Hi @rachit173,
At this point I would just like to confirm that you're able to build MRPT. If you're using Linux I would recommend Ubuntu 18.04 since the compiler is already up to date. On Windows of course you'll need MSVC 2017. I don't personally develop on OS X, so I'm very little help there.

[2018-04-25 08:46] tibrewalrachit commented on #6
I had built it about 20 days ago on 16.04, I will install 18.04 and build
MRPT.

On Apr 25, 2018 01:40, "Hunter Laux" <notifications@github.com> wrote:

[2018-04-25 09:41] rachittibrewal commented on #6
Sorry for the confusion, i am creating by using my alternate GitHub account y73isc00l.I will continue to use rachit173. I am installing 18.04 now.

[2018-04-25 12:48] bergercookie commented on #3
Hey @shubham-kumar1410, @ktushar14,

Welcome to MRPT and to GSoC!

Along with @maxchaos, @EduFdez, @taihup we will be mentoring your projects and try to provide guidance and advice whenever possible.

In sake of starting this discussion and since this is the bonding period, could you please give a small introduction about you so that the MRPT mentors and also @rachit173, @karnikram get to know you

[2018-04-25 13:23] EduFdez commented on #2
Hi @karnikram ,
Welcome to MRPT and to GSoC, and congratulations for being selected for this project! I hope it will be very motivating for all of us! Together with @jlblancoc and @jolting we will help you succeed in this project.
I agree with you about starting with the [coding style guide](https://github.com/MRPT/mrpt/blob/master/doc/MRPT_Coding_Style.md) and the GUI skeleton.

I have been looki

[2018-04-25 13:44] shubham-kumar1410 commented on #3
Hi. I am Shubham Kumar and I am currently a 3rd year student  of BITS Pilani KK Birla Goa Campus,India majoring in Electrical and Electronics Engineering.
Thanks for providing me the opportunity to work on this project and I hope we have a great summer together.
I have started looking at the MRPT algorithms in order to familiarise myself with the codebase as well as the algorithm. I have even fini

[2018-04-25 14:01] karnikram commented on #2
Thanks @EduFdez, looking forward to it!
Do let me know if I can help with that in anyway.

[2018-04-25 15:11] maxchaos commented on #3
Hi to all students and congratulations for your acceptance!
Along with @bergercookie and @EduFdez, I will be working in the V-Rep simulator project as a backup mentor. As I have some experience with V-Rep, I will try as best as I can to help out with any questions related to that which may arise.
@shubham-kumar1410, I really like your enthusiasm and I hope we will all have a creative and productiv

[2018-04-25 18:03] EduFdez commented on #2
Hi @karnikram !
I did some updates in my fork of [autocalib-sensor-extrinsics](https://github.com/EduFdez/autocalib-sensor-extrinsics) to set the project structure, which should help you to organize the code in the future. I also added some "empty" files to start separating different classes. The directory tree is explained in its commit msg:
_the core classes for the calibration (calib_core), the

[2018-04-25 18:32] bergercookie commented on #3
Hey @shubham-kumar1410,

Great, don't hesitate to ask any questions you may have with the MRPT APIs, CMake configuration or anything else you may think of.

Hmmm, which plugin are you referring to?

Yeah, knowing how to handle this is going to be important in the project.

All in all try to familiarise with the way MRPT is organised and works, e.g., cmake structure, [coding standards](https://gith

[2018-04-26 04:31] karnikram commented on #2
Looks neat! I shall get started with it.

[2018-04-26 04:52] shubham-kumar1410 commented on #3
Hi @bergercookie @maxchaos thanks for your response and I am really looking forward to working with you guys.
A default remote api server service runs on the port 19997 and it is loaded when the simulator is launched. (http://www.forum.coppeliarobotics.com/viewtopic.php?t=5197 ). It worked well for my sample remote api.
I will try to familiarise myself with the code style of MRPT as soon as possib

[2018-04-26 05:44] taihup commented on #3
Hi Shubham Kumar, I am Taihú your backup mentor. We are glad that you join
us in the GTSAM project. I would not have problem to chat on next weekend.

Regards,

Taihú

On Thu, 26 Apr 2018 05:52 Shubham Kumar, <notifications@github.com> wrote:

[2018-04-26 13:19] rachittibrewal commented on #6
@jolting I have built mrpt-2.0.0 from source on Ubuntu 18.04. Building the apps was giving error so I turned it off for build. Also I tried to install ROS(kinetic-kame) on 18.04 but there seems to be no version available, is there a workaround?

[2018-04-26 19:25] ktushar14 commented on #4
Hello everyone,

First of all, I would like to thank you for accepting my proposal to GSoC 2018. This project was perfectly aligned with my experience and interests. However, I am afraid that I will most likely have to withdraw from GSoC 2018 due to the following reasons:

On 4 April, 2018, I received an offer letter from CMU's Robotics Institute for their summer program, Robotics Institute Summer

[2018-04-26 19:28] ktushar14 commented on #3
Hey everyone, please take a look at my post in [my corresponding issue](https://github.com/MRPT/GSoC2018-discussions/issues/4).

[2018-04-26 21:10] bergercookie commented on #4
Hey @ktushar14,

Congratulations.

Fair enough, do work on the project if you want to, and  ask any question you may have either here or post it as an issue in the MRPT repo. However, I think it makes sense to close this issue, as it's not relevant to GSoC anymore.

As a sidenote though, I personally consider this an unprofessional behavior on your end. Me and the rest of the mentors have spent ti

[2018-04-26 21:11] #4 closed, assigned to nobody

[2018-04-27 00:12] jolting commented on #4
@ktushar14 Please make sure you formally withdraw from GSoC via the portal if you don't plan on participating.

Congratulations! If you're not in GSoC there shouldn't be any restrictions on contributing and we're here if you want to work on some interesting projects for open source, but the main MRPT issue tracker is the right place for that.

[2018-04-27 01:31] jolting commented on #6
ROS melodic is not ready yet. You can install a few packages from the archive.

If you need to run ROS kinetic you can use a docker container.
http://wiki.ros.org/docker/Tutorials/GUI

Do you need that to compare against ros3djs?

[2018-04-27 02:52] rachittibrewal commented on #6
Yes, since 3d visualisation is going to be similar to ros3djs,it would be better to have it in the same os. Also I was thinking about rosmrpt.

On Apr 27, 2018 07:01, Hunter Laux <notifications@github.com> wrote:

ROS melodic is not ready yet. You can install a few packages from the archive.

If you need to run ROS kinetic you can use a docker container. Melodic
http://wiki.ros.org/docker/Tutorial

[2018-04-27 05:41] jolting commented on #6
Sure. MRPT does have some ROS bindings.

https://github.com/mrpt-ros-pkg/mrpt_navigation

ROS has a lot of packages and a large community of users. It's nice to be able to take advantage of all of that. I use ROS all the time. I encourage you to learn all you can from what the RobotWebTools guys have done with rosbridge_server and ros3djs.

However, we do want you to implement an MRPT specific ver

[2018-04-27 05:59] jlblancoc commented on #6
Hi @rachit173 !

ROS melodic will be available within a few weeks (during May 2018).

I agree with @jolting 's view of making the web interface independent of ROS (although it could be later integrated as a ROS node) for the sake of portability; also, using all format options should be considered for the transport layer: binary blobs, JSON,... The former will probably be much more efficient, so in

[2018-04-28 18:23] bergercookie commented on #3
Sure, let's pick it up then.

[2018-04-30 08:33] karnikram commented on #2
Hi @EduFdez,

I've built and installed the latest mrpt libraries (v-1.9.9) from source but I'm not able to build our project since it includes mrpt-base which I believe is not included in mrpt 1.9.9. Shall I go back to the maintenance branch (v-1.5) or shall I just not include mrpt-base?

I've also been looking into your [MRPT application for calibrating 2D LiDARs](https://github.com/EduFdez/mrpt/

[2018-04-30 08:44] jlblancoc commented on #2
Hi @karnikram !

It's better to move forward to the new mrpt master branch (1.9.9). Please, remove the reference to mrpt-base to the list of libraries that the code really needs. Typically you can find it out by checking the namespaces used by your code.
See the full list of libs here: http://mrpt.ual.es/reference/master/

Make sure of reading the guide on porting old code to mrpt-2:
http://mrpt.u

[2018-04-30 09:49] karnikram commented on #2
Hi @jlblancoc!

I shall move forward with the latest branch. Until now there has been only one reference to mrpt-base, I shall read the documents you linked for any future conflicts.

One more minor issue, earlier when I ran cmake while building mrpt I got the following *warning* even though I have vtk6, libvtk6-dev, and python-vtk6 properly installed. Is this expected?

[code]

[2018-04-30 12:14] jlblancoc commented on #2
Yes, that vtk error is "well known"... it can be fixed installing
additional packages, but it's harmless anyway so you can safely ignore it.

[2018-05-02 07:40] ktushar14 commented on #4
Thank you for understanding. This is certainly not an ideal situation for me and I never expected things to turn out this way. I apologize for the inconvenience caused, and I certainly did not intend for anything like this to happen. As for prioritizing one over the other, there was no question of choosing one of the two initially, as I found out only recently that I would not be allowed to partic

[2018-05-02 12:56] EduFdez commented on #2
Hi @karnikram !

I forgot that 2D LiDAR calibration was finally not included in the proposal. Maybe it could be addressed at the end of this GSoC if there is time for it.

I agree about starting with the calibration of 3D LiDAR / range images. You can have a look at the method [PbMapMaker::detectPlanesCloud](https://github.com/EduFdez/mrpt/blob/master/libs/pbmap/src/PbMapMaker.cpp) which contains

[2018-05-02 14:06] karnikram commented on #2
Hi @EduFdez!

Thanks for the code files and the dataset, they are interesting.

Sounds good!

I'm still not able to access any of the proposals linked here. I think only the mentors have access to them!

[2018-05-02 16:42] EduFdez commented on #2
You were right. I have updated the link of your proposal, and we'll update those of other students too.

[2018-05-02 16:45] EduFdez commented on #3
Hi @bergercookie !
The link of the GSoC proposal in the 1st post of this thread is only available to mentors. Can you move it to a public place (e.g. Google drive) and update the link? Please.
PS. same for the GTSAM project.

[2018-05-04 08:20] karnikram commented on #2
@EduFdez, @jlblancoc
I've been getting comfortable with the mrpt-libs and the coding style, and have started to code some changes. I shall start pushing my changes in a couple of days.

But I'm having difficulty with one part. After loading the input .rawlog file, I believe the user should be able to inspect the observations and visualize the images, point clouds within the app just like how RawLo

[2018-05-04 08:45] jlblancoc commented on #2
What I'm doing in all my custom apps (outside of MRPT, using MRPT
libs) is to create a CDisplayWindow3D with a COpenGLScene in which all
objects (observations, lines, etc.) are rendered using mrpt::opengl
objects.

Using overlay text messages (see the methods in CDisplayWindow3D) to
show key-based menus, the current state of the app, results, etc. it's
a very convenient way of designing a "GUI" pr

[2018-05-04 15:30] karnikram commented on #2
Hi @jlblancoc,
I've been reading the robot-maps-gui, it's very well designed! Since I already have a start with Qt, I'll continue with it with this as an example. I'm looking to complete the observation tree and the viewer before the coding period starts.

[2018-05-04 15:34] jlblancoc commented on #2
Great! Recall to commit often, explaining what's your progress.
Relatively small commits are normally preferred to huge, bulk
one-app-out-of-the-blue commits ;-)

In which repo are you working right now?

[2018-05-04 16:03] karnikram commented on #2
Sure :)
I'm working on my [fork](https://github.com/karnikram/autocalib-sensor-extrinsics) of autocalib-sensor-extrinsics.

[2018-05-05 05:10] rachittibrewal commented on #6
Hi
My exams are almost over, I have one easy paper left for May 9. So I can start with work. Should I start with the first phase work?

[2018-05-05 05:29] jolting commented on #6
Sure. That's the occupancy grid task right?

[2018-05-05 06:43] rachittibrewal commented on #6
It is the publisher/subscriber mechanism for MRPT.

[2018-05-05 17:05] jolting commented on #6
Cool. You may begin coding any time you wish.

[2018-05-06 10:09] shubham-kumar1410 commented on #3
Hi,
Due to my university exams in the previous week I was unable to do a lot of work. Still I managed to test out some more V-REP remote api functions and I am fairly comfortable with them right now.
Currently I am going through the graphslam ROS package to familiarise myself with the algorithm.
I have one more exam on Monday (6/5/2018) and after that I will try finishing these tasks as soon as po

[2018-05-06 19:06] bergercookie commented on #3
Hey @shubham-kumar1410,

Yes, so just to get everyone in the conversation up-to-date:

I created a template repository [mrpt_vrep_bridge](https://github.com/bergercookie/mrpt_vrep_bridge) which should act as the basis of this GSoC project. It contains boilerplate code (mostly cmake configuration) for using Doxygen for documentation and GTest for unittesting, as well as a basic file structure of ho

[2018-05-06 19:14] jolting commented on #3
@bergercookie Put it here: https://github.com/MRPT/mrpt_vrep_bridge

[2018-05-06 19:48] bergercookie commented on #3
**UPDATE:** Migrated mrpt_vrep_bridge - https://github.com/MRPT/mrpt_vrep_bridge

[2018-05-07 12:55] shubham-kumar1410 commented on #3
I'll start by adding cmake support.
Tuesday 3:00 pm seems fine.

[2018-05-08 20:22] shubham-kumar1410 commented on #3
As decided in my call with @bergercookie and @maxchaos I will read up about cmake and try building the remote test api without  qmake. Once that is done, I will try to retrieve data from a V-REP scene and convert it to mrpt class objects so that it can easily be processed by the library. This part will be common for porting all libraries and hence it is given a lot of preference

[2018-05-10 04:33] jolting commented on #6
@rachit173
Do you have some time in the next few days to have a quick video chat to discuss your project?

I'm in California. I presume you're in India, so your morning will probably works best for me.

[2018-05-10 12:03] rachittibrewal commented on #6
I am free tomorrow morning any time from 8:00 Indian Standard Time(GMT+5:30). Any particular hour?

On May 10, 2018 10:03, Hunter Laux <notifications@github.com> wrote:

@rachit173<https://github.com/rachit173>
Do you have some time in the next few days to have a quick video chat to discuss your project?

I'm in California. I presume you're in India, so your morning will probably works best for me

[2018-05-11 08:46] bergercookie commented on #3
Hey guys,

I added the general milestones we want to reach as well as the intermidiate / smaller goals that comprise them. @shubham-kumar1410, @maxchaos take a look at the timeline and tell me whether it makes sense for you guys. The point is to have a basic functional prototype at the end of phase 1 of mrpt-graphslam running in V-REP and build on top of it / polish / extend it in the second.

* [

[2018-05-12 07:32] rachittibrewal commented on #6
@jolting @jlblancoc
For the publisher subscriber pattern , I am confused between brokered systems(like ROS with the roscore or master) or brokerless system. In ROS the broker accepts all the publishers messages and distributes the messages to subscribers requesting the message. The master can also be used for RPC. So should i continue with a  brokered system like ROS or are there some other design

[2018-05-12 17:40] jolting commented on #6
ROS core doesn't distribute the messages. It acts like a name service allowing nodes to connect with each other, but the nodes do talk directly with each other for performance reasons. Messages aren't relayed.

ZeroMQ has a good description of broker vs brokerless.
http://zeromq.org/whitepapers:brokerless

This project isn't intended to reinvent ROS. There are two actors in this system. A web brow

[2018-05-12 17:43] shubham-kumar1410 commented on #3
I found a way to build to build the remote api using cmake by adding
`execute_process (COMMAND "/bin/bash" "-c" "cd ${VREP_ROOT}/Vrep/programming/v_repExtApi; qmake v_repExtApi.pro; make")` to the cmake file.
I am working on this [issue](https://github.com/MRPT/mrpt_vrep_bridge/issues/1) right now and I will try to complete this as soon as possible

[2018-05-13 14:46] bergercookie commented on #3
Hey Shubham,

execute_process (COMMAND "/bin/bash" "-c" "cd ${VREP_ROOT}/Vrep/programming/v_repExtApi; qmake v_repExtApi.pro; make") to the cmake file.

Eeem, no that's not the way to do it... and for a number of reasons. :-)

- You are essentially using CMake as a wrapper around qmake. But qmake and cmake are the same kind of tools i.e., they generate UNIX Makefiles that you use to run `make`.
-

[2018-05-14 07:55] rachittibrewal commented on #6
cppethereum is great but it does not have websocket support unlike goeth, but basic code of cppethereum rpc with beast library could solve this.
Also I have created mrpt-server personal repo, I will be pushing code to it and have started with basic configuration file till I get a clarity of the RPC. Should I continue with my repo or can you create a new repo for mrpt-server.

[2018-05-14 08:17] shubham-kumar1410 commented on #3
Thanks. I'll try to use this method to build the api.

[2018-05-14 17:06] jolting commented on #6
Ethereum is just an example of RPC. I would not suggest adding that as a dependency.

I prepared this template a while back:
https://github.com/MRPT/mrpt-web

You can fork that or start your own.

[2018-05-16 04:49] rachittibrewal commented on #6
Update:
forked mrpt-web.
created a sync web server for ws using beast
The ws connection works in chrome but firefox does not.
For firefox, the site says that SSL is required thus, I will create a separate app for SSL.
Appart from synchronois, asynchronous and coroutine ws server, much of the code is present in beast documentation.
I am thinking of placing the different servers in CWebSocketServer.

[2018-05-16 06:17] jolting commented on #6
Ok. You can send a pull request to the mrpt-web repo when you want to review your changes.

[2018-05-19 07:32] karnikram commented on #2
Hi,

I'm having difficulty in de-serializing the observation objects from the rawlog file.

When I run,
[code]

I get the following exception
[code]

Aren't all the mrpt classes already registered automatically?
Even when I run
[code]
I get no output.

Am I missing something?

[2018-05-19 07:52] EduFdez commented on #2
Hi,
I think you need to use a CObservation instead of a CSerializable. You may have a look at the method loadFrame in DifOdometry_Datasets.cpp to see an example of loading observations from a rawlog. There are many more examples that load rawlog within mrpt.

[2018-05-19 09:16] karnikram commented on #2
Hi @EduFdez!

In the example that you've mentioned the rawlog is being loaded in one step. But for our use case I'm actually trying to load the observations one by one and insert them into a tree structure, so that they can be presented easily as a tree view.

I was following this [example](https://github.com/MRPT/mrpt/blob/master/samples/obs_mox_model_rawlog/test.cpp) for loading but it doesn't s

[2018-05-19 09:24] jlblancoc commented on #2
Your code to deserialize seems correct.

Make sure of adding to cmake's FIND_PACKAGE(MRPT ...), the list of all libraries whose objects you are deserializing, e.g. slam, obs, maps,...

Also: are you compiling mrpt from sources, right? Make sure of not building as static libraries

[2018-05-19 09:53] karnikram commented on #2
Hi @jlblancoc!

I've included most of the modules in my cmake script
`find_package(MRPT COMPONENTS hwdrivers obs serialization rtti slam maps graphslam pbmap QUIET)`

I have also built mrpt from source. I have pushed the code to my [fork](https://github.com/karnikram/autocalib-sensor-extrinsics)

[2018-05-19 19:23] shubham-kumar1410 commented on #3
Update :
I have finished on creating a cmake file which builds a VREP remote api into an executable. I have started working on converting laser scan data received from VREP into CObservation2DRangeScan class objects which can be processed by the mrpt libraries.

[2018-05-19 21:37] jlblancoc commented on #2
Hi,

I've built your code. First thing first: it builds cleanly, which is a really good thing to start!

The list of mrpt libs is correctly set via cmake and it makes its way to the linker:

[code]

But the executable does NOT actually depend (so it neither load) any of the "important" mrpt libs, the ones in which the deserialized objects live:

[code]

[2018-05-19 21:44] jlblancoc commented on #2
I can't find an obvious reason for this, apart of the usual optimizations of the linker.

For now, just adding one variable like this:

mrpt::obs::CObservation3DRangeScan o;

Anywhere (e.g. at the global scope of the GUI app) just fixes the problem. Give it a try, run ldd again (it worked for me and should for you as well) and try the serialization again. I think it will work now.

[2018-05-20 02:20] karnikram commented on #2
Hi @jlblancoc,

Thank you so much, it works now!

[2018-05-22 03:48] rachittibrewal commented on #6
@jolting @jlblancoc  I have implemented jsonrpccpp using websockets and pushed it to my fork. The code is based mostly on cppethereum and works with jsonrpc-2.0 js client (I tried with plain websockets). However, it currently does not support SSL and thus does not work with firefox sometimes. I am currently working on it. Currently the file implementing websocket server is CWebSocketJsonRpcServer.

[2018-05-22 04:24] jolting commented on #6
To avoid licensing issue you should rewrite the sections you based on cppethereum. Code derived from GPL code cannot be BSD code.

You should use beast as it is shipped with boost 1.66 or later.

[2018-05-25 02:05] rachittibrewal commented on #6
Update : Pushed websocket with SSL.
Reading up on rosbridge protocol
It has the following operations:
- advertise
- unadvertise
- subscribe
- unsubscribe
- call_service
- advertise_service
- unadvertise_service
- service_request
- service_response
I was also thinking about implementing a similar protocol. Are there changes required to protocol which will
make it more efficient ? Can you give me a

[2018-05-25 06:10] jolting commented on #6
Minimalism is key here.

Think of a way to version the protocol. There a reason why MRPT can still read old data files despite all the changes over the years. Backward compatibility requires some thought. I would start with some way of versioning the protocol.

Services are actually ROS's way of doing RPC Request/Reply. I would look at that next.

The following are related to ROS's pub/sub
[code]

[2018-05-25 12:11] shubham-kumar1410 commented on #3
Update:
I have finished the conversion of vrep laser scans to CObservation2DRangeScan class objects. I have pushed the same on a new branch[(link for the method).](https://github.com/shubham-kumar1410/mrpt_vrep_bridge/blob/vrep_convert/mrpt_graphslam_2d/remoteApi/vrep_conversion.cpp) I will send a pr once all the conversions are completed.

[2018-05-26 06:48] rachittibrewal commented on #6
check this link for mrpt-web protocol
https://github.com/rachit173/mrpt-web/wiki
I have added the protocol associated with mrpt-web, method call protocol has already been implemented. We can decide the protocol in the wiki and it will also serve as basic documentation. Please suggest changes in protocol there.
Also I am confused about converting different message or parameters like costmap, point,

[2018-05-26 14:17] karnikram commented on #2
Update:
I'm more or less done with all the GUI elements. The app can now load a rawlog file and display all its entries as a tree. I've added two pcl visualizers for each of the two input sensors and one for the result.

![status](https://user-images.githubusercontent.com/12653355/40576972-ec314edc-611b-11e8-9d3b-92ae5caf0e99.png)

Hope it's okay. The changes are in my [fork](https://github.com/ka

[2018-05-27 02:22] jolting commented on #6
Awesome. Documentation is key.

This should be done for MRPT data structures.

I think it should be possible to create something like CArchive for JSON.
https://github.com/MRPT/mrpt/blob/master/libs/serialization/include/mrpt/serialization/CArchive.h

[2018-05-27 05:25] jlblancoc commented on #6
👍 for starting documenting things since the beginning in a wiki. Keep that!

Hmmm... After this GSOC project, there will be THREE different serialization protocols:
* Via CArchive `<<` & `>>` operators. See [docs](http://mrpt.ual.es/reference/master/group__mrpt__serialization__grp.html).
* MEXPLUS + `writeToMatlab()` to (de)serialize to MATLAB. See [example](https://github.com/MRPT/mrpt/blob/80c44

[2018-05-27 07:30] jolting commented on #6
Yeah JSON needs a schema.

A solution could look like this:
[code]

Then you can do.
[code]

A little bit more complicated version would be

[code]

Clearly, this could get a little bit more declarative, but might as well start with something simple.

[2018-05-27 10:04] bergercookie commented on #3
Hey @shubham-kumar1410,

I've taken a look at your new commits. To make the reviewing in a more organised manner make a PR from your vrep_convert branch to the newly pushed [upstream mrpt_vrep_bridge branch](https://github.com/MRPT/mrpt_vrep_bridge/tree/vrep_convert)

[2018-05-27 16:13] bergercookie commented on #3
**UPDATE:**

* Pull-Request: https://github.com/MRPT/mrpt_vrep_bridge/pull/13
  It contains a series of issues that need to be addressed in the existing code

[2018-05-27 18:02] shubham-kumar1410 commented on #3
I have looked at your PR review and I am working on them now. I will send the commit once I have addressed all the review points.

[2018-05-28 00:47] EduFdez commented on #2
Hi, I'm glad that you solved the compilation problems and the GUI is in a good track. I am taking some holidays now and I cannot get internet all the time, but I am online at least once every 2 days.
I will have a look at your code soon to give you some feedback.

[2018-05-28 11:11] rachittibrewal commented on #6
I am facing the following error
[code]
<b>main.cpp</b>
[code]
CPoint2D.cpp
[code]
Also since templatized virtual functions are not allowed, how to add it to CSerializable.h

[2018-05-28 13:05] shubham-kumar1410 commented on #3
Update :
I have made almost all the changes as requested as well as the basic documentation for the conversion methods. I will keep updating the documentation as we progress.

[2018-05-28 18:30] rachittibrewal commented on #6
The above error was due to not linking the libraries properly, that is solved.
I am thinking of adding this serialization method to MRPT data structures as you have suggested, in the form of templatized serializeTo function.
Adding the message type could be useful for js library later like,
[code]

[2018-05-28 18:38] jolting commented on #6
That seems reasonable. Also, this is important for serializeFrom.
You might want to add a version as well.

[2018-05-29 03:52] rachittibrewal commented on #6
I will adding the JSON schemas in this wiki and have added some Schema for poses.
https://github.com/rachit173/mrpt-web/wiki/JSON-serialization-of-MRPT-Data-Structures
Also,
[code]
Are these serialization functions fine?

[2018-05-29 18:14] shubham-kumar1410 commented on #3
Update :
I have started working on the 2d graphslam remote api. In the next few days I will be going through the library and also will be working on the api along the way.

[2018-05-31 18:14] rachittibrewal opened #8 "JSON serialization discussion"
@jolting @jlblancoc
I still have doubts, so continuing the discussion here
Are you proposing sometthing like,
[code]

Can we add template function to CPoint2D.cpp without adding jsoncpp to mrpt?

[2018-06-01 08:27] jolting commented on #8
This essentially build a dynamic polymorphic wrapper around static polymorphism.
[code]
Then something like...
[code]

[2018-06-01 12:04] jlblancoc commented on #8
Just to further clarify this:
* SchemeArchiveBase would go inside mrpt-serialization (you can work on a fork of MRPT for changing it),
* SchemeArchive: can go either in mrpt or in the mrpt-web repo. I don't know if it might be a good idea to keep it in mrpt-web until we have more experience and the APIs get more stable.

Also, in case of opening a PR against MRPT, let us know in advance and we'll

[2018-06-01 15:58] rachittibrewal commented on #6
Update:
1. Added cmake file for making changes to stub generated by jsonrpc for use by our project. One can generate stub (slight modification of jsonrpc stub) by specifying the json specification and using <b>jsonrpcstub_create</b> macro in cmake.

2. The remote procedure call can be generated as and when required by adding the specification json, generating stub and adding its object to CModular

[2018-06-03 00:51] rachittibrewal commented on #8
@jolting @jlblancoc
The code I have implemented has an overhead of map for storing the mapping between keys and their object in this overhead fine. I am unable to find a method where overhead can be prevented without memory leak for operator[] function. A new CSchemeArchive object needs to be returned from the function wrapped around the json object. Thus needing to store the pointer to the alloca

[2018-06-03 08:29] rachittibrewal commented on #8
@jolting
This code seems to work fine without memory leak. Should I go ahead with it and write serialization methods? The changes for the mrpt repo are pushed in my [fork](https://github.com/rachit173/mrpt).The changes corresponding to mrpt-web are [here](https://github.com/rachit173/mrpt-web)
<b>UPDATE: Changed  = to << & >> :</b>
[code]

[2018-06-03 19:30] karnikram commented on #2
Hi @EduFdez @jlblancoc
I've been trying to implement plane segmentation using `pcl::OrganizedMultiPlaneSegmentation` like in PbMap. But this method requires an organized pointcloud which I'm not able to get after converting `CObservation3DRangeScan` using `mrpt::maps::CPointsMap::getPCLPointCloud`.

Shall I do this conversion by myself or is there any other existing method that I can use?

[2018-06-04 05:46] jlblancoc commented on #2
Hi,
You can set `MAKE_DENSE` to `true` in the [T3DPointsProjectionParams ](http://mrpt.ual.es/reference/devel/structmrpt_1_1obs_1_1_t3_d_points_projection_params.html) argument to [CObservation3DRangeScan::project3DPointsFromDepthImageInto](http://mrpt.ual.es/reference/devel/classmrpt_1_1obs_1_1_c_observation3_d_range_scan.html) to obtain an organized pointcloud.

[2018-06-04 17:55] karnikram commented on #2
Hi @jlblancoc, @EduFdez

It's still not working for me. I tried with `MAKE_DENSE` equal to both `true` and `false`. I've pushed the changes to my [fork](https://github.com/karnikram/autocalib-sensor-extrinsics), would be glad if you could have a look at it.

The error causing line is [this](https://github.com/karnikram/autocalib-sensor-extrinsics/blob/d2788a8f432025a44c40374aed8103a268bc712f/core/

[2018-06-05 04:32] jolting commented on #8
It doesn't need a default constructor
Instead it should store a reference to the Json::Value
[code]

[code]
These go away
[code]

Then to construct this

Json::Value val;
CSchemeArchive<Json::Value> archiveVal(val);

[2018-06-05 04:36] jolting commented on #8
It also needs
[code]
And any more that might be useful.

[2018-06-05 06:41] rachittibrewal commented on #8
@jolting @jlblancoc
The changes for the mrpt repo are pushed in my [fork](https://github.com/rachit173/mrpt).The changes corresponding to mrpt-web are [here](https://github.com/rachit173/mrpt-web). I have serialized CPoint2D, CPoint3D, CPose3DQuat as examples. Please review them and what changes are required so for further serializations. For math classes like CMatrixFixedNumeric,CQauternion I am

[2018-06-06 22:44] jlblancoc commented on #2
I've being revising the related code, and perhaps the MAKE_DENSE flag is not properly "exported" to the PCL object.

Please, consider experimenting yourself to find a solution given these pointers:
* [doc on organized point clouds](http://pointclouds.org/documentation/tutorials/basic_structures.php) in PCL.
* The actual implementation of the project3D...() function is in the template `do_project_3

[2018-06-07 13:07] EduFdez commented on #2
Hi,
In order to check that the PCL point cloud is actually organized you can check its parameters: is_dense, width and height. Please, make sure that these are correct.
If this error is not solved, you may try to save the point cloud in .pcd format and experiment with the PCL example _pcl_pcd_organized_multi_plane_segmentation_
Let us know what you get, please.

PS. Sorry for not being able to rep

[2018-06-07 20:05] shubham-kumar1410 commented on #3
Hi. The _execGraphSlamStep method uses 4 arguments : CActionCollection::Ptr action,CSensoryFrame::Ptr observations,CObservation::Ptr observation and a size_t variable. I am not sure how they work. I understood that CSensoryFrame object contains the CObservation2DRangeScan values and the CActionCollection object the odometry values. Can you help me with the roles of the other two variables ? I trie

[2018-06-08 11:40] bergercookie commented on #3
Hey @shubham-kumar1410,

I added some additional comments on the pending PR of yours.

Check this document: https://www.mrpt.org/Rawlog_Format

In each iteration either the CObservation part is filled or **both** CACtionCollection and CSensoryFrame.

That solely depends on what kind of format you want to use and support. A list of CObservation is much more flexible but in the context of filtering

[2018-06-08 11:44] bergercookie commented on #3
@shubham-kumar1410, 1st evaluation starts on the 11th of June. Please submit a PR with a functional example of using graphslam with Input from V-REP whenever you are ready so that we can review it..

[2018-06-08 12:55] shubham-kumar1410 commented on #3
I will send a PR by tonight or tomorrow morning there a few things to fix.
I have sent the commit with all the changes requested,kindly review it

[2018-06-08 15:05] shubham-kumar1410 commented on #3
I have sent the commit with all the changes requested,kindly review it.
I am unable to pass an empty file name as the rawlog file name in the constructor of CGraphSlamEngine. It is giving me a file not found error in this [line](http://mrpt.ual.es/reference/devel/_c_graph_slam_engine__impl_8h_source.html#l02355). This function is being called in a try catch [block](http://mrpt.ual.es/reference/dev

[2018-06-09 10:54] shubham-kumar1410 commented on #3
I have pushed the graphslam api on this [branch](https://github.com/shubham-kumar1410/mrpt_vrep_bridge/tree/graphslamapi). Kindly have a look. I will be pushing some more changes to it soon.

[2018-06-09 11:06] karnikram commented on #2
@jlblancoc @EduFdez
I've been trying to fix the problem inside `do_project_3d_pointcloud()`. But meanwhile I've run into another build issue.

I want to pass a pointer to the viewer ui to the core plane matching algorithm so that it can display the status periodically inside the viewer. For this I need to include `ui_CViewerContainer.h` inside `core/CPlaneMatching.h` as `#include<gui/ui_CViewerCon

[2018-06-09 13:53] EduFdez commented on #2
The cyclic inclusion issues arise often when working with interfaces. You
can solve this managing the communication in the main class which has
access to both your GUI and your PlaneMatching object. So I would create an
interface class to address the communication outside your GUI folder. In
this way you can avoid also the problem of your error which is thrown.

Tell me if I'm not clear on my answ

[2018-06-09 15:05] maxchaos commented on #3
Firstly, I believe it is a very bad idea to throw `graphslam`'s headers inside your project like that; the main reason being that these files technically belong to another project (they are maintained elsewhere and should have been installed by whatever package installed `mrpt` to your os). Normally, you should set up CMake to automatically locate these headers and expose them to your project (in

[2018-06-09 15:22] shubham-kumar1410 commented on #3
Hi. I am sorry for pushing the edited header files to github. I wanted to make sure my api was functioning properly ahead of the deadline hence I panicked and edited the header to check the functionality. I was planning on removing all the headers before I submit the PR. Also , the reason I put the graphslam headers in the include directory is that I don't have them installed along with other MRPT

[2018-06-09 15:39] maxchaos commented on #3
Don't worry about it. No harm done.
Regarding the headers, that is strange. I think they should have been installed with the aforementioned packages, normally somewhere under `/usr/include/mrpt/graphslam` on Ubuntu. What os version do you use?

[2018-06-09 16:32] shubham-kumar1410 commented on #3
It is not located there with the rest of the mrpt libs.There are some other libs like gui that are missing. I tried searching on my os but it is not there. I even tried reinstalling the whole package. Hence I added them to the project folder.I am using Ubuntu 16.04 right now.

[2018-06-09 17:34] karnikram commented on #2
Thanks for the reply @EduFdez.

I don't fully understand.
Should I declare an interface with pure virtual functions for all the communications (like updating the text box) inside a header file outside the gui folder? Then I should include this header file in all the classes that need this communication and override the virtual functions. But won't the problems still remain?

Is there any example I

[2018-06-10 07:14] jlblancoc commented on #2
Not really. When this problem arises, it normally means that there're other better ways to refactor the related code, but as the fastest solution, you can avoid adding the `#include` by using forward declaration in the .h and moving the real `#include` to the .cpp where it cannot cause harm.

See: https://stackoverflow.com/a/4757718/1631514

[2018-06-10 07:51] karnikram commented on #2
Thanks @jlblancoc. But this is still a problem when I start with a clean build where all the ui_*.h files haven't even been built yet. So `#include <ui_CViewerContainer.h>` inside the .cpp would still throw an error when the cpp gets compiled before the ui files. Is there a way I can ensure that the ui files are compiled first before the other files get compiled?

[2018-06-10 07:57] jlblancoc commented on #2
I don't fully understand where's exactly your need to use the class defined in the ui_xxx.h, please post a link to the exact line/function for me to get an exact idea of the problem.

Anyway: if you only want to use it to "notify about progress" (if I understood it right), you could probably refactor things to accept a `std::function<>` object, which you can call to notify on changes.
Then, the `u

[2018-06-10 08:36] bergercookie commented on #3
Since we're developing on top of MRPT it makes sense to compile the latter from source instead of installing it as a debian package. See the github page for instructions on that. You can't find `mrpt-graphslam` in MRPT 1.3 which is included by default in 16.04 (https://packages.ubuntu.com/source/xenial/mrpt).

Just for reference though, if you were to use ppas, use these instead:

[code]

[2018-06-10 09:09] karnikram commented on #2
[This](https://github.com/karnikram/autocalib-sensor-extrinsics/blob/03d980458bb45c3d620971eab22b0ee8d8eb5405/core/calib_solvers/CPlaneMatching.cpp#L45) is the line. I just need to be able to notify about the calibration progress inside the viewer text box.

std::function<>seems like a better option, I shall look into it.

[2018-06-10 09:13] bergercookie commented on #3
I 'll test the new functionality today and tomorrow,  @shubham-kumar1410 please edit the README file for instructions on your current setup (how to run, what to expect, what's currently working and what doesn't)

[2018-06-10 09:55] jlblancoc commented on #2
Yes, please, refactor it so the user can plug in any std::function to get notifications... in this way the algorithm knows nothing about the UI, as it should be ;-)

[2018-06-10 16:20] shubham-kumar1410 commented on #3
I will edit the README file with the instructions and also I will look into compiling MRPT directly from the source

[2018-06-10 17:26] shubham-kumar1410 commented on #3
I have edited the README file. I am still not clear how will we link the header files from the source to our project. Should I just include the header files located in my MRPT folder cloned from the source or is there any other way ?

[2018-06-10 18:20] rachittibrewal commented on #3
target_link_libraries(project PUBLIC ${MRPT_LIBS})
And yes also,
find_package(MRPT REQUIRED core poses rtti slam....)
Hope this helps.
P.S. Maybe your system is unable to find the MRPT source in that case check the tutorial on compiling first program using MRPT.

[2018-06-10 18:40] shubham-kumar1410 commented on #3
I have added all this to the main cmakelists file yet I am unable to find the graphslam headers . I'll try going through the tutorial once. Thanks :)

[2018-06-11 02:40] bergercookie commented on #3
I had a brief look at your code and application... here's some thoughts:

1. We want to have a scene with static objects and a moving sensor, ideally a robot with a sensor / set of sensors mounted on it. Having a static laser scanner on the floor simply won't cut it for a SLAM algorithm

![image](https://user-images.githubusercontent.com/5816719/41201187-c0aa0c1c-6cbb-11e8-88ff-9233e8e57835.png)

[2018-06-11 05:20] shubham-kumar1410 commented on #3
Hi @bergercookie , thanks for your feedback. I understand that a static laser won't cut . Earlier I had started working on creating a scene with a Rover with a scanner mounted on top of it. I thought it would be better if I start working on the scene once I have ported one library and that's what I am doing right now.
Hence I am calculating the odometry of the laser itself. But as rightly pointed

[2018-06-11 22:02] karnikram commented on #2
I solved the inclusion problem using `std::function`, and I've almost solved the conversion to organized point cloud problem too by making changes to `PCL_adapters.h`. But before I can test it I have a new problem :)

I fetched the latest changes from the mrpt repo and built it again, and since then I haven't been able to build my project.
I get  `usr/local/include/mrpt/serialization/include/mrpt/

[2018-06-12 02:33] rachittibrewal commented on #6
ROS's pub/sub
[code]
I had started working on the above, the main issue here is keeping track of clients (for sending messages from server to client without a signal).  Currently I have created a store class with a map(map<string,shared_ptr<connection>>) and plan to use the string as the unique identifier for the client.
So the subscribe message would look llike,
[code]

Now the subscribe method i

[2018-06-12 07:24] jlblancoc commented on #2
Please, refer to these comments I made elsewhere about the
recommendation for NOT doing "make install":
https://stackoverflow.com/a/45806080/1631514

[2018-06-12 12:17] karnikram commented on #2
Thanks @jlblancoc,

I removed all the mrpt files from /usr/local and did a clean build. I set MRPT_DIR to my build folder but I get the same error
`home/karnik/Tools/mrpt/libs/serialization/include/mrpt/serialization/serialization_frwds.:11: Parse error at "mrpt"`

Not sure what's wrong..

[2018-06-12 12:37] rachittibrewal commented on #6
I am developing the stubs related to the above in [dev-pubsub](https://github.com/rachit173/mrpt-web/tree/dev-pubsub). Also I have tried to clean up the large number of commits into much smaller number of commits depicting the logical sequence of development.

[2018-06-12 13:07] jlblancoc commented on #2
Hmmm... please, attach your `MRPT_BUILD_DIR/CMakeCache.txt` file...

[2018-06-12 13:15] karnikram commented on #2
[/home/karnik/Tools/mrpt/build/CMakeCache.txt](https://drive.google.com/open?id=1IeZWiLcgLLrUthRI7M-2Iv71HzSz7Y63)

[2018-06-12 13:18] jlblancoc commented on #2
ok, I see that you did the update-alternative thing such that a plain `gcc --version` shows it's gcc-7, right?

When does the error happen, building mrpt, or your app?

[2018-06-12 13:20] karnikram commented on #2
gcc --version gives 7.3.0
This error happens when I build my app..

[2018-06-12 13:29] jlblancoc commented on #2
Remove [these lines](https://github.com/karnikram/autocalib-sensor-extrinsics/blob/master/CMakeLists.txt#L16-L21) (we don't support old versions of the compiler anyway...) and put on the top of the file, for example, after the PROJECT(...), this:

            set(CMAKE_CXX_STANDARD 17)

[2018-06-12 13:41] karnikram commented on #2
Thanks @jlblancoc

But as mentioned in my previous comments I had already tried that.. Sorry for not being more clear.
This is my updated project [CMakeLists.txt](https://drive.google.com/open?id=1mB7YUmFz3-0Mz5rsKGopp0TWXcJc6uTx)

The other CMakeLists.txt scripts in my project subdirectories are the same.

[2018-06-12 14:04] jlblancoc commented on #2
No problem!

I'm building it now, and I could see the error. It doesn't seem a normal build error, but a parser error or alike: somehow it's related to the `.ui` files??

[2018-06-12 14:05] jlblancoc commented on #2
if you run it with `VERBOSE=1 make -j1` you can see the actual commands being invoked.
The error happens in:
[code]

[2018-06-12 14:08] jlblancoc commented on #2
The error must come from  `#include <observation_tree/CObservationTreeModel.h>` in CMainWindow.h.

Start commenting out blocks of `#includes` and definitions until the error goes, so you can find it...

[2018-06-12 14:11] jlblancoc commented on #2
Well, you were right: the problem is the use of the nested namespaces `namespace mrpt::foo` in headers (cc: @bergercookie , @jolting ).

But it's not an error at the gcc level,but at the Qt moc level (!).
It's probably worth investigating if a newer version of qt solved it, and if not, please, feel free of opening a bug to Qt.

Anyway, to make progress: try to refactor things such that no .ui file

[2018-06-13 07:32] shubham-kumar1410 commented on #3
Hi, there are a couple of things which I didn't understand. The current odometry measurements considers the robot position and quaternion to create the COdometryObservation class object. Is there something that I am missing ? Also I didn't quite understand the contents of the ground truth file. I mean that what are the contents of it

I would like to work on this project irrespective of the evalua

[2018-06-13 14:32] karnikram commented on #2
Thanks for the help @jlblancoc!

It seems like support for nested namespaces was added in Qt 5.9 if I'm not wrong - https://codereview.qt-project.org/#/c/187819/
Should I upgrade our project to 5.9?

For now as a work around I'm using the preprocessor [symbol](http://doc.qt.io/qt-5/moc.html#command-line-options) `Q_MOC_RUN` to make the moc skip all the non-qt header files.

I've pushed these chang

[2018-06-14 05:02] rachittibrewal commented on #6
@jolting
I have removed dependancy from jsonrpccpp by adding self written RPC handler. Currently, I am developing it and the RPC PubSub in [dev-rpc-pubsub](https://github.com/rachit173/mrpt-web/tree/dev-rpc-pubsub).
The changed protocol has been added to the [wiki](https://github.com/rachit173/mrpt-web/wiki).

[2018-06-15 14:27] EduFdez commented on #2
Hi @karnikram

As @jlblancoc  said, you can try to upgrade Qt and check if the Qt bug is fixed in the new version.

[2018-06-17 17:39] karnikram commented on #2
Hi,

I've installed Qt 5.9.2 (compatible with nested namespaces) in my home directory and have been trying to link our project to these new libraries but in vain.

I've set `Qt5Widgets_DIR` to `/home/karnik/Tools/Qt/5.9.2/gcc_64/lib/cmake/Qt5Widgets/` as recommended [here](https://doc.qt.io/archives/qt-5.10/cmake-manual.html). Now `Qt5Widgets_VERSION` shows 5.9.2.

But strangely,  `Qt5Widgets_INCL

[2018-06-17 17:40] rachittibrewal commented on #8
I will close this issue, will ask further queries in the pull request.

[2018-06-17 17:40] #8 closed, assigned to nobody

[2018-06-17 18:22] rachittibrewal opened #9 "Web UI RawLog app and mrpt-web-js"
Starting the issue to discuss the development related to rawlog app.
The app will be similar to the rawlog app but will be created using the the mrpt-web-js library and vue,js.
## For mrpt-web-js, the modules need to be developed
* Connection: Module to connect to webserver.
* RPC call handling module
* PubSub call handling module
* WebGL scene with objects corresponding to MRPT ds which are used

[2018-06-18 13:38] EduFdez commented on #2
I guess that you need to delete the cache in cmake to update correctly to the new version of Qt. Since this does not work for you, there is the option to write your own FindQt.cmake file to include the correct paths.
But I advice you to avoid wasting time with this issue of the Qt version, you may point back to the previous Qt5.5 and concentrate on the functionalities that you wrote in the timelin

[2018-06-20 02:32] karnikram commented on #2
Hi,

Just a side question.

Right now I'm passing a function object pointing to [CViewerContainer::updateText](https://github.com/karnikram/autocalib-sensor-extrinsics/blob/43c8c7e4e4b6032f33f97a9b52990586349b809d/gui/viewer/CViewerContainer.cpp#L94), to [CPlaneMatching](https://github.com/karnikram/autocalib-sensor-extrinsics/blob/43c8c7e4e4b6032f33f97a9b52990586349b809d/core/calib_solvers/CPlane

[2018-06-20 11:52] EduFdez commented on #2
Hi @karnikram
It is possible to template that function, you just need to specify the full signature of the function for calling it and for passing it as a parameter. But your dependency structure of the GUI does not seem adequate, I tried to guide you about this in my previous comment about the cyclic inclusion but I was not clear enough. I'll try to improve my explanation here: CPlaneMatching sho

[2018-06-20 14:28] karnikram commented on #2
Thanks @EduFdez

But how exactly? You'd suggested using an interface class earlier but I did not fully get that.

[2018-06-20 16:50] EduFdez commented on #2
The idea is to make CPlaneMatching independent from the GUI, but after checking again your code I see that it is already independent. I got confused about it when I saw that you call your updateFunction in the constructor of CPlaneMatching. I'm sorry for the confusion.

My suggestion about the interface class would look like this:
CPlaneMatching: does not contain any sendTextUpdate, just the param

[2018-06-20 18:53] karnikram commented on #2
That was also bad naming on my part :)

Getting clearer. But still a little confused about who should inherit this interface class, and how this can avoid function pointers. Is there any small example that I can look at?

[2018-06-20 23:10] EduFdez commented on #2
I'm not sure if the interface class will help to avoid function pointers as I have almost no experience programming GUIs and I do not know Qt very well. While the inheritance will depend on practical aspects of the application.

The point of the intermediate class is to encapsulate the interface parameters so that the core classes like CPlaneMatching do not need to handle GUI aspects. This should

[2018-06-22 03:46] jolting commented on #6
Avoid mixing common.js style imports and es6 style imports. ES6 imports are preferred.

I'm wondering if RxJS could be used in lieu of EventEmitter2. What do you think?

For unit testing do you have a preference for mocha?
Jest seems a little more popular and I have more experience with it.

Good work so far on the JS stuff, so far. I'm excited to see something fully working and demonstrable.

[2018-06-22 09:06] karnikram commented on #2
Hi @EduFdez,

I read more about circular dependencies and behavioral design patterns, and have now completely understood the problem that you were talking about.

I've solved it by implementing a minimal publisher-subscriber pattern where the publisher maintains a list of subscribers and notifies them about any status changes automatically. The subscriber has to implement the CSubscriber interface

[2018-06-23 05:17] rachittibrewal commented on #6
I am looking into RxJS, maybe at a more mature stage of library,using it would be good. I don't have a preference for mocha(it seems easy to use), I will learn jest and change the unit test to it.
I am facing an issue currently, the bundled js generated by webpack seems to have errors, is it common, I am trying to debug it but any leads would be good.

[2018-06-23 07:18] jolting commented on #6
Looks like you're trying to use the `ws` module in client-side code.

Here's an example how one library solved it:
https://github.com/maxogden/websocket-stream/blob/3f39dcbc098f661ee12d7deba297b1420a0a0e07/package.json#L43

https://github.com/maxogden/websocket-stream/blob/3f39dcbc098f661ee12d7deba297b1420a0a0e07/ws-fallback.js

[2018-06-23 14:46] rachittibrewal commented on #6
That works :).

[2018-06-23 18:52] karnikram commented on #2
Hi @EduFdez, @jlblancoc

Plane segmentation is now working reasonably well. I had to make some very small changes to a few mrpt lib classes to get it to work. I've submitted these changes to the main mrpt repo as a [pull request](https://github.com/MRPT/mrpt/pull/789), hope you can take a look at it.

Meanwhile, I ran into another small issue. I'm able to display the segmented planes properly but

[2018-06-24 06:50] jlblancoc commented on #2
@EduFdez I leave to you for now taking a look at the project-specific code; I've reviewed the MRPT-specific changes; please @karnikram see the comments there.

[2018-06-25 05:17] EduFdez commented on #2
Thank you @jlblanco, I will start reviewing it today. @karnikram I will also give you some comments soon, and I will have a look at the problem of the point cloud visualization.

[2018-06-25 12:28] karnikram commented on #2
Thanks @EduFdez,

Neglecting the color problem for now, I just pushed some more changes for easier visualization. Clicking on any observation item will now show the corresponding planes overlaid over the original cloud as follows:

![viewers](https://user-images.githubusercontent.com/12653355/41850105-066367a8-78a1-11e8-8ad0-9f953778216e.png)

[2018-06-25 18:47] rachittibrewal commented on #6
Update:
Developed modules for:
* Setup 3D scene, add meshes for arrow, markers and Pointcloud.
* PointCloud is based on serialization of CPointCloud, should the colorFromDepth parameter also be used for the pointcloud creation?
* I am currently planning to make some more meshes of basic shapes, OccupancyGrid, laserscan.
![screenshot from 2018-06-26 00-03-24](https://user-images.githubusercontent.c

[2018-06-25 20:11] jolting commented on #6
Good work.

It would be nice to make coloring the clouds a configurable parameter in javascript. Common coloring parametizations include axis, depth and flat color. Of course if the point cloud has color then it should be an option. I find it useful to switch between these when trying to understand data.

I don't think colorFromDepth is a necessary parameter.

@jlbancoc care to share any insight?

[2018-06-25 22:57] jlblancoc commented on #6
Hi guys,

Ok, I'll take a look at this tomorrow (CEST).

As a newbie regarding serious js development, did you already included some
detailed instructions in your fork on how to launch some demo(s)? If not,
please add it to the readme/wiki/wherever and I'll beta test it ;-)

Cheers

El lun., 25 jun. 2018 22:11, Hunter Laux <notifications@github.com>
escribió:

[2018-06-26 07:47] rachittibrewal commented on #6
[wiki](https://github.com/rachit173/mrpt-web-js/wiki) added.

[2018-06-26 12:07] jlblancoc commented on #6
Thanks!

Just a minor edit to the wiki... there's a missing "cd":

However, I found errors during "npm install". Apparently, a missing dependency (?).

[code]

[2018-06-26 16:34] jolting commented on #6
The 4 branch of node is EOL.

Typically you'll want to install a new version of node:
https://nodejs.org/en/download/package-manager/

It's also typical to upgrade npm. You can use npm.
`npm i -g npm@latest`

You'll need root priviledges unless you set `.npmrc` to use a different node prefix.

That might not be the problem, but it's a good place to start.

[2018-06-27 06:40] jlblancoc commented on #6
Indeed, that was the problem! :-)
Tests now run smoothly.

On [the wiki](https://github.com/rachit173/mrpt-web-js/wiki/Scene-and-Meshes): "will created in the dist folder after running build". Please, provide the direct command for building (as a beginner with nodejs, all these steps were not trivial to me ;-): something like: `npm run-script build`

I was able to build the js lib and run the basi

[2018-06-27 13:48] rachittibrewal commented on #6
Surely, a bigger picture is good for the project understanding. I will plan and make it.
I was planning to simultaneously start with web app version of RawLogViewer. So, in which repository should this app belong?
For the C++ part of the app, I am thinking of adding that to mrpt-web repo.
Also, which are the core features of RawLogViewer which should be started with?

About RawLogViewer App: Throu

[2018-06-27 16:25] jolting commented on #6
Examples are good.

It's common after libraries have been made unopinionated to create VueJS or React component libraries around them. Many times both a ReactJS and a VueJS version are created because the war is very much on.

https://hasvuepassedreactyet.surge.sh/
Star VueJS please. 👍

Once they've been wrapped in components it tends to make reuse quite a bit easier and examples based on componen

[2018-06-28 11:48] karnikram commented on #2
Minor update:
I tested with Qt 5.9.5 (default in Ubuntu 18.04), it doesn't have any issues with nested namespaces. I'm also now developing on Ubuntu 18.04.

[2018-07-02 03:27] karnikram commented on #2
I'm having some problems with PCL 1.8 where this [line](https://github.com/karnikram/autocalib-sensor-extrinsics/blob/34fbdf9bf631c7129c87f206e515f360f5a63113/core/calib_solvers/CPlaneMatching.cpp#L131) is causing a segmentation fault arbitrarily (while being de-allocated).

[code]

A gdb backtrace gives,

[code]

Similar issues have been posted [here](https://github.com/PointCloudLibrary/pcl/issu

[2018-07-02 03:41] jlblancoc commented on #2
Try running your app with valgrind to see if it detects any relevant
error...

[2018-07-02 05:16] karnikram commented on #2
[code]

Trying to make sense of it..

[2018-07-02 11:06] jlblancoc commented on #2
Where's the latest implementation (source code) for CPlaneMatching::runSegmentation so I can take a look at the code and guess what's those invalid free come from?

[2018-07-02 12:26] rachittibrewal commented on #6
Update:
1. Pushing code related to rawlog-web-ui backend (C++ server) in [mrpt-web](https://github.com/rachit173/mrpt-web/tree/master).
2. Pushing code related to frontend of rawlog-web-ui to [rawlog-web-ui](https://github.com/rachit173/rawlog-web-ui).
The frontend node package depends on mrpt-web-js package and thus one needs to link those using npm link. Instructions can be found in the repo's R

[2018-07-02 12:55] karnikram commented on #2
@jlblancoc,

It's actually the same implementation that's causing this crash. It was running well on PCL 1.7, but now not on 1.8. Even on 1.8 it ran a couple of times without any error. (!)

[This](https://github.com/karnikram/autocalib-sensor-extrinsics/blob/34fbdf9bf631c7129c87f206e515f360f5a63113/core/calib_solvers/CPlaneMatching.cpp#L131) is the line that's causing this arbitrary crash.

[2018-07-02 13:11] EduFdez commented on #2
@karnikram
Did you test already if the crash also happens if you link against a compiled version of PCL?

[2018-07-02 13:26] karnikram commented on #2
Not yet @EduFdez, compiling the latest version of PCL is taking forever and it is also exceeding my 4GB physical memory. Even while compiling with just `make`, in one thread.

[2018-07-02 13:29] EduFdez commented on #2
OK, I will test it and I will tell you if that solves the problem, otherwise I think we should better go back to PCL 1.7 since this kind of error is very difficult to track.

[2018-07-02 14:44] EduFdez commented on #2
I compiled PCL 1.8 from sources, but I am not able to use it in "autocalib-sensor-extrinsics" since CMake complains about Eigen, and I do not know how to solve this properly. The CMake msg is:

@jlblancoc do you have any idea on how to solve this?

[2018-07-02 15:42] karnikram commented on #2
@EduFdez, are you sure Eigen is installed properly? And where is it placed?

[2018-07-02 16:47] EduFdez commented on #2
@karnikram yes, it is installed but it is not found correctly by PCLConfig.cmake and I'm not sure on how to modify this file. Probably the best thing to do is to come back to the version 1.7 to avoid losing time on this.

[2018-07-03 06:47] jolting commented on #6
npm link the right thing to use for development. Eventually we'll publish something under `@mrpt/<some lib name>`. Feel free to come up with a better name.

[2018-07-03 10:41] EduFdez commented on #2
Hi @karnikram , I fixed some small errors in order to compile the PCL version 1.7.2. (I sent you an email with the patch to fix these errors). I compiled your project against this version of PCL, but unluckily the Segmentation Fault is not solved.
You can post your problem on the PCL users mailing list, and I think you should also open an issue in PCL's github.

In the meanwhile, you may comment o

[2018-07-03 10:51] karnikram commented on #2
Hi @EduFdez,

I've already raised an [issue](https://github.com/PointCloudLibrary/pcl/issues/2364) on the PCL issues page.

But now since it's not working for you on 1.7.2 either (on 18.04) I think the problem is with the eigen libraries (version 3.3.4-4) in 18.04. Because it worked for me (no segmentation faults) with PCL 1.7.2 on 16.04 that has Eigen version 3.3~beta.

Some people had a similar

[2018-07-03 11:19] jlblancoc commented on #2
You both can try just downloading a specific version of Eigen in some
directory (NO need to "make install" them, they're just headers), then
setting EIGEN3_DIR to the corresponding directory in CMake of the
project you want to use a specific version of Eigen.

I've done it in the past without problems.

I think there **might not** be problems in using the system-provided
PCL with a custom version

[2018-07-03 11:25] EduFdez commented on #2
Also, the Segmentation Fault could be caused by using package binaries that have been compiled with different c++ standards, as explained [here](https://github.com/felixendres/rgbdslam_v2/issues/8) or [here](https://github.com/PointCloudLibrary/pcl/issues/619).

[2018-07-03 11:52] karnikram commented on #2
Thanks @jlblancoc,
I downloaded eigen-3.2.10 and created an EIGEN3_DIR cmake variable pointing to the headers. But the crash still happens. Is there any way to check which version of Eigen is being used by the pcl binaries?

[2018-07-03 11:57] jlblancoc commented on #2
Yes: going to the ubuntu package website and see its dependencies for
your distro.
The actual original info is under the file "debian/control" of the pcl
package, which you can also download via: "dget
http://xxxx/pcl-xxxx.dsc"

That also makes sense... If you try building your test case (the one
reported to PCL's repo) without the set(CMAKE_CXX_STANDARD 17), with
different versions of C++, let's

[2018-07-03 13:28] EduFdez commented on #2
I tested it by compiling PCL1.8 (master branch) with the -std=c++11 flag and it worked out. I just added the following line to PCL's CMakelists.txt:
SET(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -std=c++11")
I guess it also must work with: set(CMAKE_CXX_STANDARD 17).

@karnikram you will need then to compile it like this, because the option of coming back to ubuntu16 seems a much worse choice. What memo

[2018-07-03 14:13] karnikram commented on #2
I installed Eigen 3.2.10 headers in /usr/local/include and my example segmentation program listed [here](https://github.com/PointCloudLibrary/pcl/issues/2364) works now (with PCL 1.8 binaries). The program is able to use the 3.2.10 headers.

But our project is still crashing.
Even though cmake reports using 3.2.10,

[code]

gdb backtrace suggests it's still using the headers in /usr/include/eigen3

[2018-07-03 14:37] EduFdez commented on #2
@karnikram the calibration project does not crash anymore if you compile PCL with -std=c++11 as I said in my previous post.

[2018-07-03 14:55] karnikram commented on #2
But unfortunately I'm not able to compile PCL 1.8 on my system :/
The process takes up all of my 4gb RAM and keeps getting killed. So I'm trying to find a fix with the binaries itself.

I got another solution, that was posted [here](https://github.com/PointCloudLibrary/pcl/issues/2364) just now.

But removing `add_definitions(${PCL_DEFINITIONS})` causes a new segmentation fault. This time it's rel

[2018-07-03 17:04] EduFdez commented on #2
I think that the main problem that causes the SegFault is that the binaries of PCL (and its dependencies) are compiled with a c++ standard previous to c++11. Compiling PCL with c++11 seems to solve the problem. But another option may be to remove SET(CMAKE_CXX_STANDARD 17) from your project.

[2018-07-03 17:10] jlblancoc commented on #2
However, the new mrpt2 requires c++17... :-(

There are options, anyway (*always* there is a solution ;-):
* Move all the invokations to pcl to one (or a small set) or .cpp files.
* Manually instruct CMake to add the c++11 gcc flag to those files

Et voilà!

[2018-07-03 17:42] jolting commented on #2
Are you using 16.04 or 18.04? I think 18.04 should work.

I backported 1.8 to 16.04. Maybe that will work.

https://launchpad.net/~jolting/+archive/ubuntu/backport-mrpt

FYI, the Ubuntu build farm is free for open source. I've never seen PCL fail to build on their farm.

https://opensourcehacker.com/2013/03/20/how-to-backport-packages-on-ubuntu-linux/

[2018-07-04 06:18] karnikram commented on #2
@EduFdez, @jlblancoc, @jolting

I rebuilt mrpt in Debug mode, with debugging symbols turned on, and now somehow everything's working fine.

Earlier, removing `${PCL_DEFINITIONS}` (-march=native option) stopped causing the PCL SegFault but it was causing a different SegFault in `mrpt::obs::CObservation3DRangeScan::serializeFrom(mrpt::serialization::CArchive&, unsigned char) () from /home/karnik/too

[2018-07-04 07:16] EduFdez commented on #2
That's great! Now you can continue working on the project, and we may try later to solve the problem to build in Release mode.

[2018-07-04 13:20] rachittibrewal commented on #6
[code]
this line of code is causing an error
[code]
[code]
I checked the type of poseChange and it is 	mrpt::containers::deepcopy_poly_ptr<mrpt::poses::CPosePDF::Ptr>

@jolting @jlblancoc
Is this error due to the deepcopy_poly_ptr type?
I had copied the code from RawlogViewer app, and made certain changes to it.

[2018-07-04 19:35] rachittibrewal commented on #6
I have added project boards, for more efficient completion of app and library, please tell in case any improvements to project.
[board1](https://github.com/rachit173/mrpt-web-js/projects/1)
[board2](https://github.com/rachit173/rawlog-web-ui/projects/1)

[2018-07-05 11:14] jlblancoc commented on #6
I just tested the equivalent code inside RawLogViewer and it works without crashing.
Please, could you put together a small .cpp file + its CMakeLists.txt that reproduces the crash? If yes, open an issue on the main MRPT/mrpt repo with that test code.

[2018-07-09 05:38] jolting commented on #6
Minor critique of the code so far. I find mapMutation and mapAction cleans up the code quite a bit.

[2018-07-09 05:48] rachittibrewal commented on #6
I was not aware of the better style, I will make the change straight away.

[2018-07-09 06:18] rachittibrewal commented on #6
I have added the basic ideas about the library in the google slides presentation, it will be updated as the work progresses further. The slide aims to explain the role of each of the libraries.
[slides](https://docs.google.com/presentation/d/1UvH86SG-KHGqXmseFJNyZ1oUNbfNUdS14QyvK6kmkYA/edit?usp=sharing)

[2018-07-09 23:43] jlblancoc commented on #6
Hunter will probably take a deeper look to your recent changes, but here comes a quick overview to the slides.
Minor typos (I think) and change requests:
*  "It comprises of:" -> "It comprises:"
* "Mrpt..." -> "mrpt" or "MRPT" looks better, doesn't it?
* Class names (like "CWebSocket", etc.): it would be great to have those names linked (href) to some documentation for the classes, or at least, to

[2018-07-10 04:05] rachittibrewal commented on #6
Thanks @jlblancoc
The changes requested seem necessary, I will work  on them.

@jolting how should the documentation of mrpt-web-js proceed, should I do in GitHub pages, wiki or what is the popular practice?

[2018-07-10 23:27] jlblancoc commented on #6
Good, thanks!

You can start installing doxygen (apt-get), and using its [-g](https://www.stack.nl/~dimitri/doxygen/manual/doxygen_usage.html) parameter to create a brand new config file. Browse it and the Doxygen docs to see the meaning of the most important parameters.
Mostly, the `INPUT` key which instruct doxygen where to search for source code.

The `Doxyfile` file could be created just on th

[2018-07-11 03:00] jolting commented on #6
I forked your repo
https://github.com/MRPT/mrpt-web-js
I added a circleci config.

Looks like the unit tests hangs there after it finishes.

https://circleci.com/gh/MRPT/mrpt-web-js/2

I also changed the package name so that it begin with `@mrpt`. I previously registered that for the MRPT org.

[2018-07-11 03:07] jolting commented on #6
For documenting javascript libraries, the conventional way is a fancy webpage that shows off your web dev skills. A wiki is a good place to start though. I'd rather see finished well documented code rather than a fancy webpage. You can always add that later.

If you do plan on throwing up a webpage quickly for either documentation or demo give surge.sh a shot.
https://surge.sh/

[2018-07-11 04:30] rachittibrewal commented on #6
Since you have created MRPT/mrpt-web-js,rawlog-web-ui, should I now fork them or can I continue using my existing repos and create pull requests. I had setup project boards there so, it would be useful, if I could continue to develop on those repos :-)

[2018-07-11 05:46] jolting commented on #6
Keep working on your board. I was just trying to get a build pipeline for npmjs.com

[2018-07-12 08:26] EduFdez commented on #2
Hi @karnikram
When you call a function that is time consuming, like CPlaneMatchingConfig::startCalib() you should call it in another thread, so that you do not lock the GUI, and the user can still visualize the rawlog content and the progress of the calibration.
Check out the method mrpt::system::createThreadFromObjectMethod

[2018-07-12 19:25] karnikram commented on #2
I believe mrpt::system::createThreadFromObjectMethod and threads.h have been removed from master.
Shall I do it with std::thread?

[2018-07-12 21:18] jlblancoc commented on #2
Yes, please use std::thread, that's much better since it's standard ;-)

[2018-07-16 05:08] rachittibrewal commented on #6
Thanks for the evaluation.
I had added plotly.js, since two.js did not provide direct graphing and plotting. I was planning on completing the rawlog-web-ui and improving the mrpt-web-js library by adding modules, tests and documentation. This would be the plan for next week. After that what should be my focus, another app, or examples? I plan to keep the last week for documentation and unit tests,

[2018-07-16 18:39] jolting commented on #6
If you can produce a youtube video + documentation on how to set everything up from scratch it would be great. The target audience is C++ programmers who don't know how to setup node or javascript.

After that more apps or keep adding capabilities to the raw log viewer.

[2018-07-16 19:34] jlblancoc commented on #6
or javascript.

I'll be an archetypal example of those guys, so will provide you valuable
feedback on your tutorial ;-)

[2018-07-16 20:25] jolting commented on #6
Here's an example of what I consider a good video tutorial format:
https://www.vuemastery.com/courses/intro-to-vue-js

[2018-07-19 19:14] jolting commented on #6
If you get done with the rawlog viewer, the documentation and video tutorials. Then you can work on the Reactive Navigation demo.

[2018-07-19 19:23] rachittibrewal commented on #6
I will start documentation, build configuration of everything.

[2018-07-20 15:13] rachittibrewal commented on #6
Started with something basic:
ESDoc for automated build of source documentation and published it on http://mrpt-web.surge.sh/
thinking of adding tutorials and further examples here itself
added CI for docs on branch [dev-docs](https://github.com/rachit173/mrpt-web-js/tree/dev-docs)
Improved docs, added examples (code snippets) to many of the classes.

[2018-07-23 23:16] jlblancoc commented on #6
👍 looks great!

Shouldn't that also include:
* Short instructions/(link to)examples on how to use those classes in real apps?
* Instructions to launch the RawlogViewer demo app & a link to the most relevant parts of the code?

[2018-07-24 02:35] rachittibrewal commented on #6
Thanks, I am going to add tutorials to the manual section

[2018-07-24 03:22] jolting commented on #6
Looks like the mrpt-web-js unit tests are still broken.

[2018-07-24 04:14] jolting commented on #6
What do you think about specifying a directory on the server in which rawlogs will be served up from?

It is a bit awkward to have to know the name of the file on the file system.

[2018-07-24 04:16] jolting commented on #6
I think there needs to be a method for connecting to a server other than localhost:5000.

[2018-07-24 04:48] jolting commented on #6
For the 3d animation is there any way to move the pivot point?

[2018-07-24 05:01] jolting commented on #6
One thing to note about the 3d scan visualization is that it is capable of rendering multiple sensors. Each sensor will have its own sensor label and have a different sensor height.

[2018-07-24 05:03] jolting commented on #6
Let me know if the 2D plots work. I'm excited to try them out.

[2018-07-24 19:27] rachittibrewal commented on #6
I have added address bar for specifying the websocket address and port, 2d plots works in map and path generation component and will soon work for individual rawlog (debugging it).

For the rawlog address, how do you feel about sending file from client to server using websocket (we can then use file dialog box).  If we wish to go with directory, then should I create a specific directory from which

[2018-07-24 20:07] jolting commented on #6
Just specify a directory with a list of rawlog files. That should be sufficient.

Cool thanks for clarifying.

It's incredibly useful for a 2.5 D representation from depth cameras or the uncommon case of using multiple lidar scanners at different heights.

Sometimes the map looks different at various heights.
https://www.youtube.com/watch?v=jCFvAOuV_H8

[2018-07-25 06:41] EduFdez commented on #2
Hi @karnikram
There is a bit less than 3 weeks for the GSoC conclusion. To sum up about the progress so far:
- The GUI has a good shape and it's operational.
- Segmentation and visualization of features works only for planes (implementation for lines required)
- The back-end calibration methods have not yet been implemented (plane-matching, line matching, sensor ego-motion. All required)
- Tests s

[2018-07-25 07:19] karnikram commented on #2
Hi @EduFdez,

Calibration by plane-matching will be implemented fully and tested on the datasets by this week.
I will then work on line matching, which could take a week. But I'm not confident of implementing calibration by trajectory matching, since like we discussed, there are also some important changes to be done to the gui (visualizing datasets with more than two sensors, fixing the threads i

[2018-07-25 07:54] EduFdez commented on #2
Calibration from ego-motion is one of the most important requirements of the project. You should try to speed up in the calibration from planes/lines and try to finish it this week in order to address the ego-motion method next week.

[2018-08-01 16:09] rachittibrewal commented on #6
For building mrpt-web, serialization file CSchemeArchiveBase is required from mrpt library. How should I prepare it for merging with MRPT ? This would be required for the video demonstration, or for now I could make the video using mrpt build from my own fork.
These are the works I remember are pending :
* I am currently facing this [issue](https://github.com/MRPT/mrpt/issues/796) for making the m

[2018-08-02 07:40] jlblancoc commented on #6
Hi,
On this:

Did you write some instructions on the ESdoc manual pages? Something really short would be enough... thanks!

On the RawLogViewer issue, I'll check my Eigen version just in case it's newer than yours (now I'm on Windows)...

[2018-08-02 08:48] tibrewalrachit commented on #6
Yes will push it by today for launching rawalog app I am making a video.

On Thu, Aug 2, 2018, 13:10 Jose Luis Blanco-Claraco <
notifications@github.com> wrote:

[2018-08-02 09:51] rachittibrewal commented on #6
Yes will push it by today (manual pages) , for launching rawalog app I am making a video.

[2018-08-02 18:00] jolting commented on #6
I've recently opened a few of the sample RawLogs in 18.04. You do have to be careful to compile against GTK3 and there are a few tricks you need to get OpenGL to work with wayland(if you use that by default), but besides that no issues.

AFAIK, RawLogViewer doesn't have an issue with the version of Eigen that ships with 18.04.

[2018-08-02 18:56] rachittibrewal commented on #6
Update:
* mrpt-web-js [docs](http://mrpt-web.surge.sh) : added examples and brief descriptions in manual
* Created a simple [video](https://www.youtube.com/watch?v=2q5G_dhqSbM&feature=youtu.be) explaining launch and functionality of rawlog-viewer.(Sorry for my poor video editing skills, i will try to make a more fun video later)
* Started work on my final submission [link](https://rachit173.github

[2018-08-03 16:26] jlblancoc commented on #6
Great video!! :+1:

So, apparently you finally solved the crash problem in your rawlog-viewer app, right? It doesn't seem to crash on our tests...

[2018-08-03 20:32] rachittibrewal commented on #6
I havent been able to, will try on ubuntu 16.04

[2018-08-04 08:37] jolting commented on #6
Good Job! I'm wondering if there is someplace we can host this as a demo.
The javascript part can go on surge.

The websocket server could be containerized.

[2018-08-04 16:31] jlblancoc commented on #6
Sure, we could host it on mrpt.org in a new subdomain. Just let me
know what do you need exactly, and as far as it's safe we'll do it.

Consider doing it with a front-page which may be the entrypoint to a
number of web demos, even if for now we only have the rawlog-viewer
app...

Cheers!

[2018-08-06 04:47] jolting commented on #6
I've cloned all the wiki pages for the following repos.
https://github.com/MRPT/mrpt-web
https://github.com/MRPT/mrpt-web-js
https://github.com/MRPT/rawlog-web-ui

Furthermore, I fixed the unit test for mrpt-web-js. This now uses jest. That was fairly easy to setup.
Also CircleCI now auto deploys to `@mrpt/mrpt-web` package on npmjs.org. That should make using the package a little easier.

[2018-08-06 06:41] rachittibrewal commented on #6
Thanks @jolting, I will make the report today and then can continue to work on bugs and issues, after submitting report today.

[2018-08-06 08:17] karnikram commented on #2
Update:

Plane extraction and matching for the first algorithm, line extraction and matching for the second algorithm are done along with their visualizations. I've now started testing them and am integrating the rotation and translation solvers for both. I hope to finish it in a couple of days, with @EduFdez 's help!

After that I will start to gather the documentation and write unit tests for th

[2018-08-06 08:25] EduFdez commented on #2
Cool! I will start testing them this evening. And I will include the translation solver and global solver functions for plane-based calibration, then you can adapt it to line-based calibration.

Regarding the creation of unit-tests you need to follow the guidelines of MRPT. What I normally do is to create unit tests whenever I find I recurrent bug or failure that is likely to happen again upon som

[2018-08-07 06:47] jlblancoc commented on #6
@rachit173 : I just gave you write permissions to all related @MRPT repositories, so you can directly contribute there more easily. You **may** (if you want) use those final URLs in your final report; your contributions are clearly identified there even if that's not your fork, as you know.

A proposal @jolting , @rachit173 : would it make sense to add TravisCI / CircleCI to https://github.com/MRP

[2018-08-07 16:30] jolting commented on #6
yes

[2018-08-07 20:35] jlblancoc commented on #6
I just enabled travis on that repo.

[2018-08-13 13:30] rachittibrewal commented on #6
Hi, I am back, thanks for your patience and support. I have submitted report, please have a look at it.
https://rachit173.github.io/gsoc2018/

[2018-08-14 16:19] karnikram commented on #2
Final Work Product Link - https://github.com/MRPT/autocalib-sensor-extrinsics/pull/1

Will continue to fix other issues now.

[2018-08-25 09:23] rachittibrewal commented on #6
Thanks for the evaluation and opportunity to work with the organization. I wish to work on the existing project as well as MRPT in general.